---
import LogoIcon from "../assets/logo.svg";
import MenuIcon from "../assets/menu.svg";
---

<nav class="bg-white flex justify-between items-center h-10 content-center px-6 mt-6 rounded-full shadow-lg">
  <a class="flex flex-row content-center w-max">
    <LogoIcon class="w-6 fill-gray-700" />
    <h1 class="ml-1">Eng<span class="text-gray-400">Up</span></h1>
  </a>

  <!--Menu Toggle-->
  <input type="checkbox" class="peer/menu-toggle hidden" id="menu-toggle">
  <label for="menu-toggle"
         class="w-10 h-10 bg-open-menu cursor-pointer bg-cover bg-center text-white rounded-lg peer-checked/menu-toggle:bg-close-menu transition-all z-10 md:hidden"></label>

  <ul
    class="fixed inset-0 bg-menu px-[5%] bg-white grid auto-rows-max content-center justify-items-center transition-[clip-path] duration-500 ease-in-out [clip-path:circle(0%_at_top_right)] peer-checked/menu-toggle:[clip-path:circle(150%_at_top_right)] md:[clip-path:unset] md:relative md:grid-flow-col md:p-0 md:bg-transparent gap-6 text-gray-700">
    <li><a class="py-1 px-2 rounded-full hover:bg-gray-500 hover:text-white cursor-pointer transition-colors">Inicio</a>
    </li>
    <li><a class="py-1 px-2 rounded-full hover:bg-gray-500 hover:text-white cursor-pointer transition-colors">Posts</a>
    </li>
    <li><a
      class="py-1 px-2 rounded-full hover:bg-gray-500 hover:text-white cursor-pointer transition-colors">Categorias</a>
    </li>
    <li><a class="py-1 px-2 rounded-full hover:bg-gray-500 hover:text-white cursor-pointer transition-colors">Acerca
      de</a></li>
  </ul>
</nav>